<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

	Design by Free CSS Templates
	http://www.freecsstemplates.org
	Released for free under a Creative Commons Attribution License

	Name       : Eponymous
	Version    : 1.0
	Released   : 20130222

-->
<html xmlns="http://www.w3.org/1999/xhtml">
{% load static %}
<head>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="bg">
    <div id="outer">
        <div id="header">
            <div id="logo">
                <h1>
                    <a href="/">{% block pagename %}{% endblock %}</a>
                </h1>
            </div>
            <div id="nav">
                <ul>
                    <li class="first active">
                        <a href="/">Power Max</a>
                    </li>
                    <li>
                        <a href="#">Power Manage</a>
                    </li>
                    <li>
                        <a href="#">iOS</a>
                    </li>
                    <li>
                        <a href="#">Android</a>
                    </li>
                    <li>
                        <a href="#">Repo</a>
                    </li>
                    <li class="last">
                        <a href="/admin/">Administration</a>
                    </li>
                </ul>
                <br class="clear"/>
            </div>
        </div>
        {% block content %}{% endblock %}
    </div>
    <div id="copyright">
        &copy; 2017 Visonic versions site | <span>Contact</span>
        <a rel="nofollow" href="mailto:AGribenko@tycoint.com">Anton</a>
    </div>
</div>
</body>
</html>
