<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

	Design by Free CSS Templates
	http://www.freecsstemplates.org
	Released for free under a Creative Commons Attribution License

	Name       : Eponymous
	Version    : 1.0
	Released   : 20130222

-->
<html xmlns="http://www.w3.org/1999/xhtml">
{% load static %}
<head>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Eponymous by FCT</title>
    <link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="bg">
    <div id="outer">
        <div id="header">
            <div id="logo">
                <h1>
                    <a href="#">Version page</a>
                </h1>
            </div>
            <div id="nav">
                <ul>
                    <li class="first active">
                        <a href="/">Power Max</a>
                    </li>
                    <li>
                        <a href="#">Power Manage</a>
                    </li>
                    <li>
                        <a href="#">iOS</a>
                    </li>
                    <li>
                        <a href="#">Android</a>
                    </li>
                    <li>
                        <a href="#">Repo</a>
                    </li>
                    <li class="last">
                        <a href="/admin/">Administration</a>
                    </li>
                </ul>
                <br class="clear"/>
            </div>
        </div>
        {#				<div id="banner">#}
        {#					<img src="{% static "images/pic1.jpg" %}" width="1120" height="200" alt="" />#}
        {#				</div>#}
        <div id="main">

            <div class="b-table">
                <div class="b-table__row">
                    <div class="b-table__cell b-table__cell_type_header b-table__cell_width_sim_number">Panel type</div>
                    <div class="b-table__cell b-table__cell_type_header b-table__cell_width_120">Release version</div>
                    <div class="b-table__cell b-table__cell_type_header b-table__cell_width_120">Default version</div>
                    <div class="b-table__cell b-table__cell_type_header b-table__cell_width_80">VLM version</div>
                    <div class="b-table__cell b-table__cell_type_header b-table__cell_width_80">EEPROM version</div>
                    <div class="b-table__cell b-table__cell_type_header b-table__cell_width_80">Plink version</div>
                    <div class="b-table__cell b-table__cell_type_header b-table__cell_width_80">KP250 version</div>
                    <div class="b-table__cell b-table__cell_type_header">Comment</div>
                </div>
                {% for version in result %}
                    <div class="b-table__row">
                        <div class="b-table__cell">
                            {{ version.panel_type }}
                        </div>
                        <div class="b-table__cell">
                            {{ version.release }}
                        </div>
                        <div class="b-table__cell">
                            {{ version.default }}
                        </div>
                        <div class="b-table__cell">
                            {{ version.vlm }}
                        </div>
                        <div class="b-table__cell">
                            {{ version.eeprom_ver }}
                        </div>
                        <div class="b-table__cell">
                            {{ version.plink.version }}
                        </div>
                        <div class="b-table__cell">
                            {{ version.kp_250.version }}
                        </div>
                        <div class="b-table__cell">
                            {{ version.comment }}
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
        {#        <div id="footer">#}
        {#            <div id="footerSidebar">#}
        {#                <h3>#}
        {#                    Odio adipiscing#}
        {#                </h3>#}
        {#                <ul class="linkedList">#}
        {#                    <li class="first">#}
        {#                        <a href="#">Curabitur mus posuere</a>#}
        {#                    </li>#}
        {#                    <li>#}
        {#                        <a href="#">Penatibus et accumsan</a>#}
        {#                    </li>#}
        {#                    <li class="last">#}
        {#                        <a href="#">Convallis sed ornare</a>#}
        {#                    </li>#}
        {#                </ul>#}
        {#            </div>#}
        {#            <div id="footerContent">#}
        {#                <h3>#}
        {#                    Proin dolor nullam#}
        {#                </h3>#}
        {#                <p>#}
        {#                    Magna euismod risus interdum vulputate viverra. Urna ultrices vitae ornare volutpat. Pellentesque#}
        {#                    penatibus#}
        {#                    semper aliquam mollis. Urna lobortis elit eget a dignissim rutrum. Integer ipsum ligula sociis#}
        {#                    tellus quam enim.#}
        {#                    Nibh nec phasellus mattis montes faucibus malesuada. Venenatis cubilia odio volutpat phasellus#}
        {#                    facilisis#}
        {#                    ultricies convallis. Convallis purus urna suspendisse consectetur feugiat. Varius dignissim aliquet#}
        {#                    montes#}
        {#                    libero. Consectetur a lobortis nulla montes quisque blandit. Primis eget vestibulum pretium turpis.#}
        {#                </p>#}
        {#            </div>#}
        {#            <br class="clear"/>#}
        {#        </div>#}
    </div>
    <div id="copyright">
        &copy; 2017 Visonic versions site | <span>Contact</span>
        <a rel="nofollow" href="mailto:AGribenko@tycoint.com">Anton</a>
    </div>
</div>
</body>
</html>
