{% extends "Base.html" %}

{% block title %}Power Master{% endblock %}

{% block pagename %}Version site{% endblock %}

{% block content %}
    <div id="main">
        <div class="b-table">
            <div class="b-table__row">
                <div class="b-table__cell b-table__cell_type_header b-table__cell_col1">Version</div>
                <div class="b-table__cell b-table__cell_type_header b-table__cell_col2">
                    <div class="b-table__cell">Panel type</div>
                    <div class="b-table__cell">Release</div>
                    <div class="b-table__cell">Default</div>
                    <div class="b-table__cell">VLM</div>
                    <div class="b-table__cell">EEPROM</div>
                    <div class="b-table__cell">Plink</div>
                    <div class="b-table__cell">KP250</div>
                    <div class="b-table__cell">Comment</div>
                </div>
            </div>
            {% for panel_version in panel_versions %}
                <div class="b-table__row">
                    <div class="b-table__cell table__cell_stats">
                        {{ panel_version }}
                    </div>
                    <div class="b-table__cell">
                    {% for version in result|in_category:panel_version %}
                    <a class="b-table__row" href="/panel-version/{{ version.id }}">
                        <div class="b-table__cell table__cell_stats">
                            {{ version.panel_type }}
                        </div>
                        <div class="b-table__cell table__cell_stats">
                            {{ version.release }}
                        </div>
                        <div class="b-table__cell table__cell_stats">
                            {{ version.default }}
                        </div>
                        <div class="b-table__cell table__cell_stats">
                            {{ version.vlm }}
                        </div>
                        <div class="b-table__cell table__cell_stats">
                            {{ version.eeprom_ver }}
                        </div>
                        <div class="b-table__cell table__cell_stats">
                            {{ version.plink.version }}
                        </div>
                        <div class="b-table__cell table__cell_stats">
                            {{ version.kp_250.version }}
                        </div>
                        <div class="b-table__cell table__cell_stats">
                            {{ version.comment|slice:":25" }}
                        </div>
                    </a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
